# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# IDE settings
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

#chrome webdriver files
# Selenium / Chrome
*.exe
*.dll
*.so
*.dylib